extends layout

block content
  h1= title
  - var vehicleresult = results
  div.container-fluid
     div.row
        each item,index in vehicleresult
            div.col-sm-2(onclick=`buy(${index})`) Vehicle Name: #{item["VehicleName"]}  <br>  Vehicle Type: #{item["VehicleType"]} <br> Vehicle Cost: #{item["VehicleCost"]} 
  script.
      function buy(i){
         alert("you purchased item "+(i+1))
      }